@model PimUrbanGreen.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="container-fluid text-center">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Login</h5>
                    <form asp-action="Login" method="post">
        <div>
            <label>Usuário:</label>
            <input asp-for="Usuario" />
        </div>
        <div>
            <label>Senha:</label>
            <input asp-for="Senha" type="password" />
        </div>
        <button type="submit">Entrar</button>
    </form>
                </div>
            </div>
        </div>
    </div>
</div>
